
.left-menu-bar {
    background: var(--white);
    width: 22%; /*19.13%*/
    height: 581px;
    overflow: auto;
    padding: 5px 0;
    position: fixed;
    left: 0;
    top: 56px;
}

.left-menu-bar .main-heading li a{
    display: inline-block;
    text-decoration: none;
    width: 100%;
    color: #000;
    padding: 15px 2px;
    font-size: 1.48vw;  /*20px*/
    padding-left: 19px;
    font-family: 'Source Sans Pro', sans-serif;
    position:relative;
}
.left-menu-bar .main-heading li a:hover{
    background-color: var(--grey);
}
.left-menu-bar .main-heading li a:active{
    background-color: var(--green);
}

.main-heading li a .fa-angle-down{
    position:absolute;
    top:50%;
    right:8px;
    margin-left: 5px;
    color: var(--black);
}   

.sub-heading li a{
    margin-left: 18px;
    font-size: 18px;
}

.sub-heading{
    list-style-type: none;
    display: none;
    transition: all 0.3s linear;
}


.main-heading li:hover .sub-heading{
    display: block;
}

.container{
    width: 78%;  
    padding-top: 57px; /*80.87%*/
    float: right;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 0;
    border-radius: 4px;
    /* background: red; */
}

.container .main{
    padding: 10px 0 10px 0;
    margin-bottom: 40px;
    /* background-color: yellow; */
}

.container .main h2{
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    font-size: 4.81vw;   /*50px  3.70vw  75px 4.81vw*/ 
    margin: 40px 0;
    font-weight: 635;
    /* text-shadow: 6px 6px 0px rgba(0,0,0,0.2); */
    text-shadow: -1.1px -1.1px 0 black, 1.1px -1.1px 0 black, -1.1px 1.1px 0 black, 1.1px 1.1px 0 black;
    /*text-shadow: -1px -1px 1px red,1px 1px 1px blue;*/
}


.container .main .sub-main{
    padding: 1px 15px 20px 15px;
    border-radius: 10px;
    margin-bottom: 40px;
    /* background: red; */
}

.container .main .sub-main h3{
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    font-size: 2.96vw;  /*40px*/
    margin: 30px 0;
    text-shadow: -1px -1px 1px black;
    /* text-shadow: -2px 2px 0 #41ba45, 2px 2px 0 #c63d2b, 2px -2px 0 #42afac, -2px -2px 0 #c6c23f; */
}

.container .main .short-heading {
    margin: 20px 15px 10px 15px;
    padding: 10px 20px;
    padding-top: 10px;
    box-shadow: 0.50px 0.50px 5px rgb(224, 224, 224), 
                0.50px 0.50px 5px rgb(232, 232, 232),
                0.75px 0.75px 5px rgb(239, 239, 239), 
                1.00px 1.00px 5px rgb(242, 242, 242), 
                1.25px 1.25px 5px rgb(246, 246, 246), 
                1.75px 1.75px 5px rgb(249, 249, 249), 
                2.00px 2.00px 5px rgb(252, 252, 252);
    padding-top: 20px;
    border-radius: 9px;
}

.container .main .sub-main .sub-sub-main{
    padding: 10px 15px;
    margin-top: 36px;
    border-radius: 10px;
    /* background-color: blue; */
}

.container .main .sub-main .sub-sub-main div{
    margin-bottom: 20px;
    padding: 10px 20px 20px 20px;
    border: 0 solid #e5e7eb;
    border-radius: 5px;
    box-shadow: 0.50px 0.50px 5px rgb(224,224,224),
                0.50px 0.50px 5px rgb(232,232,232),
                0.75px 0.75px 5px rgb(239,239,239),
                1.00px 1.00px 5px rgb(242,242,242),
                1.25px 1.25px 5px rgb(246,246,246),
                1.75px 1.75px 5px rgb(249,249,249),
                2.00px 2.00px 5px rgb(252,252,252);
    

}

.container .main .sub-main .sub-sub-main div h4{
    font-family: 'Source Sans Pro', sans-serif;
    text-align: left;
    font-size: 1.48vw;  /*20px*/
    margin-bottom: 10px;
    text-shadow: -1px -1px 1px var(--black);
}

.container .main .sub-main .sub-sub-main div p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.26vw;  /*17px*/
    line-height: 24px;
    color: rgb(51, 49, 49);
    text-align: justify;
}

.container .main .sub-main .sub-sub-main div h5{
    font-size: 1.258vw;  /*17px*/
    margin: 10px 0 10px 10px;
    text-shadow: -0.5px -0.5px 1px var(--black)
}

.container .main .sub-main .sub-sub-main ul{
    list-style-type: square;
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
    font-size: 1.26vw;  /*17px*/
    padding-left: 40px;
    color: rgb(51, 49, 49);
    text-align: justify;
    line-height: 24px
}

.container .main .sub-main .sub-sub-main div div{
    margin-top: 15px;
}

.container .main .sub-main .sub-sub-main div div h6{
    font-size: 1.184vw;  /*16px*/
    margin: 10px 0 10px 10px;
    text-shadow: -0.5px -0.5px 1px var(--black)
}

.container .main .sub-main .sub-sub-main div div p{
    width: 100%;
    /* padding-left: 5px; */
    color: rgb(51, 49, 49);
    text-align: justify;
    line-height: 24px;  /*16px*/
    font-size: 1.184vw;
}
